
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  padding-top: 70px;
  padding-bottom: 70px;
  font-family: "微软雅黑"
}

$navbar-color: #3c3e42;
.navbar-inverse {
  .navbar-brand {
    font-size: 1.7em;
    font-weight: bold;
  }
  background-color: $navbar-color;
  ul { font-size: 1.2em; }
}

.jumbotron { text-align: center; }

.panel {
  margin: 50px auto;
  width: 55%;
  .panel-heading {
    font-size: 1.2em;
  }
}
